;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :builds
 {:app {:target :browser
        :asset-path "/js"
        :modules {:main {:init-fn idb-fun.core/main}}
        :dev {:output-dir "public/js"}}}
 :dev-http {8000 "public"}}