html, body,div#app{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.error::placeholder{
    color: #dd6666;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div {
    box-sizing: border-box;
}